<span id="button_close_all_something" class="gantt-menu-button-multi gantt-menu-button button"><span><%= l(:close_all, scope: [:easy_gantt, :button]) %></span>
<%= easy_gantt_js_button('', id: 'button_close_all_projects',class:'gantt-button-symbol icon-folder') %>
<%= easy_gantt_js_button('â™¦', id: 'button_close_all_milestones',class:'gantt-button-symbol') %>
<%= easy_gantt_js_button('â¥', id: 'button_close_all_parent_issues',class:'gantt-button-symbol') %>
</span>
<!--<a id="button_test_2" class="button button-2">Test</a>-->
