<div class="hooks-top-menu"></div>
<div class="hooks-header"></div>
<div class="hooks-main nosidebar">
  <div class="hooks-content">
    <div class="hooks-data"></div>
    <% if hook == :view_news_show_left %>
      <div id="hook-content"></div>
    <% end %>
    <div class="hooks-box"></div>
    <div class="hooks-box"></div>
    <div class="hooks-box"></div>
  </div>
</div>
<div class="hooks-footer"></div>
